@model SEOSDocumentsPagedListModel

@{
    ViewBag.Title = SEOS.SentDocumentsTitle;
}

<div class="cols-wrapper">
    @Html.Partial("_LeftMenu")

    <div class="content-right">
        <h2>@ViewBag.Title</h2>
        @Html.Partial("Partials/_SentDocuments", Model)
    </div>
</div>
