<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRegiXEntryPoint">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegiXEntryPoint"
                contract="RegiXEntryPoint.IRegiXEntryPoint" name="WSHttpBinding_IRegiXEntryPoint" />
        </client>
    </system.serviceModel>
</configuration>