@model InboxViewModel

@{
    ViewBag.Title = Common.TitleReceivedMessages;
    ViewBag.SearchSubject = ProfilePage.TableHeaderMessageTitle;
    ViewBag.SearchProfile = ProfilePage.TableHeaderMessageSender;

    ViewBag.Legend = ProfilePage.TitleSearchReceivedMessages;
}

<div class="cols-wrapper">
    @Html.Partial("_LeftMenu")

    <div class="content-right">
        <h2>@Common.TitleReceivedMessages</h2>

        @Html.Partial("Partials/_SearchMessages", Model.SearchFilter)

        @Html.Partial("Partials/_InboxMessageList", Model)
    </div>
</div>
