<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="serilog:minimum-level" value="Warning" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.path" value="%SystemDrive%\inetpub\logs\prodv2-pdf-services\ED.PdfServices.txt" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.rollingInterval" value="Day" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3} {SourceContext}] {Message:lj} {Properties:j}{NewLine}{Exception}" xdt:Transform="Insert"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
