<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EDeliverySEOSDB" xdt:Locator="Match(name)" connectionString="data source=tcp:egp38-db1t;initial catalog=ElectronicDeliverySEOS;integrated security=true;" xdt:Transform="SetAttributes(connectionString)" />
    <add name="EDeliveryDB" xdt:Locator="Match(name)" connectionString="data source=tcp:egp38-db1t;initial catalog=ElectronicDelivery;integrated security=true;" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>
  <appSettings>
    <add key="EDeliveryAS4Name" xdt:Locator="Match(key)" value="DF8EF074-3313-4187-929E-276954BD7457" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.MalwareApiUrl" xdt:Locator="Match(key)" value="https://83.228.89.29:9443/" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.InvalidRequestsFolder" xdt:Locator="Match(key)" value="C:\inetpub\logs\egovtestv2-seos-post-service\SEOS-InvalidSignatureRequests" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.FailedRequestsFolder" xdt:Locator="Match(key)" value="C:\inetpub\logs\egovtestv2-seos-post-service\SEOS-FiledRequestsFromEDelivery" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <log4net>
    <appender name="GlobalAppender" xdt:Locator="Match(name)">
      <file value="C:\inetpub\logs\egovtestv2-seos-post-service\%date{yyyyMMdd}\SEOSPostLogger.txt" xdt:Transform="SetAttributes(value)" />
    </appender>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" xdt:Transform="SetAttributes(httpGetEnabled,httpsGetEnabled)" />
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes(includeExceptionDetailInFaults)" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="WEBSERVICEPLUGIN_PORT" xdt:Locator="Match(name)" address="https://localhost:443/domibus/services/wsplugin" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes(enabled)"/>
  </system.webServer>
</configuration>
