<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EDeliverySEOSDB" xdt:Locator="Match(name)" connectionString="data source=tcp:egp38-db1p;initial catalog=ElectronicDeliverySEOS;integrated security=true;" xdt:Transform="SetAttributes(connectionString)" />
    <add name="EDeliveryDB" xdt:Locator="Match(name)" connectionString="data source=tcp:egp38-db1p;initial catalog=ElectronicDelivery;integrated security=true;" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>
  <appSettings>
    <add key="SEOS.CertificateThumbprint" xdt:Locator="Match(key)" value="B33BD429A313A62AD9F6BCEBC2D7A9B69F88650D" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.EDeliveryGUID" xdt:Locator="Match(key)" value="CE4ADC76-B81C-4958-8D7A-F05B5FB1FEFE" xdt:Transform="SetAttributes(value)" />
    <add key="EDeliveryAS4Name" xdt:Locator="Match(key)" value="CE4ADC76-B81C-4958-8D7A-F05B5FB1FEFE" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.MalwareApiUrl" xdt:Locator="Match(key)" value="https://10.65.1.88/" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.InvalidRequestsFolder" xdt:Locator="Match(key)" value="C:\inetpub\logs\prodv2-seos-post-service\SEOS-InvalidSignatureRequests" xdt:Transform="SetAttributes(value)" />
    <add key="SEOS.FailedRequestsFolder" xdt:Locator="Match(key)" value="C:\inetpub\logs\prodv2-seos-post-service\SEOS-FiledRequestsFromEDelivery" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <log4net>
    <appender name="GlobalAppender" xdt:Locator="Match(name)">
      <file value="C:\inetpub\logs\prodv2-seos-post-service\%date{yyyyMMdd}\SEOSPostLogger.txt" xdt:Transform="SetAttributes(value)" />
    </appender>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="egovService">
          <clientCredentials>
            <clientCertificate findValue="edelivery.obmen.local" xdt:Transform="SetAttributes(findValue)" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" xdt:Transform="SetAttributes(httpGetEnabled,httpsGetEnabled)" />
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes(includeExceptionDetailInFaults)" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!--A correct value must be set according to the production configuration-->
      <endpoint name="WEBSERVICEPLUGIN_PORT" xdt:Locator="Match(name)" address="https://localhost:443/domibus/services/wsplugin" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes(enabled)"/>
  </system.webServer>
</configuration>
