<?xml version="1.0"?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="GlobalAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\\Logs\\WebSite\\%date{yyyyMMdd}\\Global.txt" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="25" />
    <maximumFileSize value="1000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <logger name="Global">
    <level value="ALL"></level>
    <appender-ref ref="GlobalAppender"></appender-ref>
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="GlobalAppender"></appender-ref>
    <appender-ref ref="DebugAppender" />
  </root>
</log4net>
