<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <appSettings>
      <add key="Environment" xdt:Locator="Match(key)" value="ProdV2" xdt:Transform="SetAttributes(value)" />
      <add key="EnvironmentName" xdt:Locator="Match(key)" value="" xdt:Transform="SetAttributes(value)" />
      <add key="MatomoEnabled" xdt:Locator="Match(key)" value="true" xdt:Transform="SetAttributes(value)" />
      <add key="MatomoIdSite" xdt:Locator="Match(key)" value="7" xdt:Transform="SetAttributes(value)" />
      <add key="bg.gov.eid.OAUrl" xdt:Locator="Match(key)" value="https://edelivery.egov.bg/Account/AuthenticateEID" xdt:Transform="SetAttributes(value)" />
      <add key="pageSize" xdt:Locator="Match(key)" value="50" xdt:Transform="SetAttributes(value)" />
      <add key="elmah.mvc.allowedRoles" xdt:Locator="Match(key)" value="Administrator" xdt:Transform="SetAttributes(value)" />
      <add key="elmah.mvc.allowedUsers" xdt:Locator="Match(key)" value="" xdt:Transform="SetAttributes(value)" />
      <add key="bg.gov.eAuth.2.returnUrl" xdt:Locator="Match(key)" value="https://edelivery.egov.bg/Account/AuthenticateCertificate" xdt:Transform="SetAttributes(value)" />
      <add key="bg.gov.eAuth.2.targetUrl" xdt:Locator="Match(key)" value="https://eauth.egov.bg/SingleSignOnService" xdt:Transform="SetAttributes(value)" />
      <add key="ReportsTokenExpSeconds" xdt:Locator="Match(key)" value="60" xdt:Transform="SetAttributes(value)" />
      <add key="AhuTokenExpSeconds" xdt:Locator="Match(key)" value="120" xdt:Transform="SetAttributes(value)" />
      <add key="BulSITokenExpSeconds" xdt:Locator="Match(key)" value="120" xdt:Transform="SetAttributes(value)" />
      <add key="PayUrl" xdt:Locator="Match(key)" value="https://pay.egov.bg/account/edeliveryauth?token=" xdt:Transform="SetAttributes(value)" />
      <add key="PayAudience" xdt:Locator="Match(key)" value="urn:oid:2.16.100.1.1.1.1.12" xdt:Transform="SetAttributes(value)" />
      <add key="PayObligations" xdt:Locator="Match(key)" value="https://pay.egov.bg/Payment/List" xdt:Transform="SetAttributes(value)" />
      <add key="PayObligationByAccessCode" xdt:Locator="Match(key)" value="https://pay.egov.bg/Home/AccessByPaymentRequestCode" xdt:Transform="SetAttributes(value)" />
      <add key="DomainServicesUrl" xdt:Locator="Match(key)" value="https://egp38-domain1p:5001" xdt:Transform="SetAttributes(value)" />
      <add key="DomainServicesUseGrpcWeb" xdt:Locator="Match(key)" value="false" xdt:Transform="SetAttributes(value)" />
      <add key="BlobServiceWebUrl" xdt:Locator="Match(key)" value="https://edelivery-blobs.egov.bg" xdt:Transform="SetAttributes(value)" />
      <add key="BlobServiceMaxFileSizeInMb" xdt:Locator="Match(key)" value="255" xdt:Transform="SetAttributes(value)" />
    </appSettings>
    <system.web>
      <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <system.webServer>
      <rewrite>
        <rules>
          <rule xdt:Transform="Insert" name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
          </rule>
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <add name="Content-Security-Policy" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" value="default-src 'self' https://analytics.egov.bg edelivery-blobs.egov.bg; connect-src 'self' https://analytics.egov.bg edelivery-blobs.egov.bg; img-src 'self' data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://analytics.egov.bg; style-src 'self' 'unsafe-inline'; font-src 'self'" />
          <add name="Strict-Transport-Security" xdt:Transform="Insert" value="max-age=31536000;" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    <system.serviceModel>
      <client>
        <endpoint
          contract="SeosService.ISEOSPostService"
          xdt:Locator="Match(contract)"
          address="http://egp38-seos1p:23514/SEOSPostService.svc"
          xdt:Transform="SetAttributes(address)" />
      </client>
    </system.serviceModel>
    <elmah>
      <security allowRemoteAccess="0" xdt:Transform="Replace" />
    </elmah>
    <saml2>
      <allowedAudienceUris>
        <audience uri="https://edelivery.egov.bg/metadata/info/saml" xdt:Transform="Replace" />
      </allowedAudienceUris>
      <serviceProvider id="urn:edelivery.egov.bg" server="https://edelivery.egov.bg" xdt:Transform="SetAttributes(id,server)" />
      <identityProviders>
        <add id="https://eauth.egov.bg" xdt:Transform="SetAttributes(id)">
          <endpoints>
            <endpoint url="https://eauth.egov.bg/tfauthbe/saml/metadata/idp" xdt:Transform="SetAttributes(url)" />
          </endpoints>
        </add>
      </identityProviders>
    </saml2>
  </location>
</configuration>
