<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="saml2" type="SAML2.Config.Saml2Section, SAML2" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <location inheritInChildApplications="false">
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <connectionStrings>
      <add name="LoggingDB" connectionString="Data Source=.;Database=ElectronicDelivery.Logs;Integrated Security=True;MultipleActiveResultSets=True;App=ElectronicDelivery.WebPortal" />
      <add name="EDeliveryIdentityDB" connectionString="metadata=res://*/EDeliveryIdentities.csdl|res://*/EDeliveryIdentities.ssdl|res://*/EDeliveryIdentities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Database=ElectronicDelivery;Integrated Security=True;MultipleActiveResultSets=True;App=ElectronicDelivery.WebPortal&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="Environment" value="Development" />
      <add key="EnvironmentName" value="" />
      <add key="MatomoEnabled" value="false" />
      <add key="MatomoIdSite" value="11" />
      <add key="LogConfigurationPath" value="log4net.config" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="pageSize" value="20" />
      <!--EID validation start-->
      <add key="bg.gov.eid.moccaUrl" value="https://validation.eid.egov.bg/mocca/https-security-layer-request" />
      <add key="bg.gov.eid.OAUrl" value="https://94.26.30.158/AuthenticateEID" />
      <add key="bg.gov.eid.templateUrl" value="https://validation.eid.egov.bg/moa-id-auth/moccaTemplate.html" />
      <add key="bg.gov.eid.startAuthenticataionUrl" value="https://validation.eid.egov.bg/moa-id-auth/StartAuthentication" />
      <add key="EValidationURL" value="https://evalidation.egov.bg/Validation/EIDResult" />
      <!--EID validation end-->
      <add key="elmah.mvc.disableHandler" value="false" />
      <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
      <add key="elmah.mvc.requiresAuthentication" value="false" />
      <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
      <add key="elmah.mvc.allowedRoles" value="*" />
      <add key="elmah.mvc.allowedUsers" value="*" />
      <add key="elmah.mvc.route" value="elmah" />
      <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
      <!--eAuthenticator start-->
      <add key="bg.gov.eAuth.version" value="2" />
      <add key="bg.gov.eAuth.providerId" value="2.16.100.1.1.1.1.13" />
      <add key="bg.gov.eAuth.extService" value="2.16.100.1.1.1.1.13.1.1.1" />
      <add key="bg.gov.eAuth.extProvider" value="2.16.100.1.1.1.1.13" />
      <!--v2-->
      <add key="bg.gov.eAuth.2.loginUrl" value="CertificateAuthV2" />
      <add key="bg.gov.eAuth.2.returnUrl" value="https://localhost:44304/Account/AuthenticateCertificate" />
      <add key="bg.gov.eAuth.2.targetUrl" value="https://eauth-test.egov.bg/SingleSignOnService" />
      <add key="bg.gov.eAuth.2.providerName" value="Система за електроннo връчване" />
      <!--noi auth-->
      <add key="NOIAuthUrl" value="https://ereports.nssi.bg/NSSIAuthentication?returnUrl=" />
      <add key="NOIAuthSharedSecret" value="<secret>" />
      <!--Technologica Reports section key-->
      <add key="ReportsUrl" value="https://clientc-regix.egov.bg/Account/LoginToken?etoken=" />
      <add key="ReportsSecretKey" value="<secret>" />
      <add key="ReportsIssuer" value="urn:oid:2.16.100.1.1.1.1.13" />
      <add key="ReportsSubject" value="urn:{0}:{1}" />
      <add key="ReportsAudience" value="urn:oid:2.16.100.1.1.1.1.17" />
      <add key="ReportsTokenExpSeconds" value="5" />
      <!--Ahu - hora s uvrejdania-->
      <add key="AhuUrl" value="http://ahu.mlsp.government.bg/hu/profil/?token=" />
      <add key="AhuSecretKey" value="<secret>" />
      <add key="AhuIssuer" value="urn:oid:2.16.100.1.1.1.1.13" />
      <add key="AhuSubject" value="urn:{0}:{1}" />
      <add key="AhuAudience" value="urn:oid:2.16.100.1.1.1.1.99" />
      <add key="AhuTokenExpSeconds" value="3600" />
      <!--Bul SI blanki-->
      <add key="BulSIUrl" value="https://eforms.egov.bg/eforms-portal/jwt-login.xhtml?token=" />
      <add key="BulSISecretKey" value="<secret>" />
      <add key="BulSIIssuer" value="urn:oid:2.16.100.1.1.1.1.13" />
      <add key="BulSISubject" value="urn:{0}:{1}" />
      <add key="BulSIAudience" value="urn:oid:2.16.100.1.1.1.1.99" />
      <add key="BulSITokenExpSeconds" value="3600" />
      <!--pay.egov.bg-->
      <add key="PayUrl" value="https://pay.egov.bg/account/edeliveryauthtest?token=" />
      <add key="PaySecretKey" value="<secret>" />
      <add key="PayIssuer" value="urn:oid:2.16.100.1.1.1.1.13" />
      <add key="PaySubject" value="urn:{0}:{1}" />
      <add key="PayAudience" value="urn:oid:2.16.100.1.1.1.1.15" />
      <add key="PayTokenExpSeconds" value="60" />
      <!--Admin options-->
      <add key="Admin.InstitutionDocsMaxCount" value="10" />
      <!--Services options-->
      <add key="DomainServicesUrl" value="http://localhost:5000" />
      <add key="DomainServicesUseGrpcWeb" value="true" />
      <add key="BlobServiceWebUrl" value="https://localhost:5101" />
      <add key="BlobServiceMaxFileSizeInMb" value="50" />
      <add key="BlobTokenLifetimeInMinutes" value="60" />
      <add key="SharedSecretDPKey" value="" />
      <add key="MaxRecipientGroups" value="20" />
      <add key="MaxRecipientGroupMembers" value="20" />
      <add key="AuthenticationCookieExpiration" value="00:30:00" />
    </appSettings>
    <system.web>
      <authentication mode="None" />
      <compilation debug="true" targetFramework="4.7.2" />
      <globalization fileEncoding="utf-8" culture="bg-BG" uiCulture="bg-BG" />
      <!--25mb-->
      <httpRuntime targetFramework="4.6.1" maxRequestLength="25600" enableVersionHeader="false" />
      <httpModules>
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      </httpModules>
    </system.web>
    <system.webServer>
      <rewrite>
        <rules>
          <!--
          The Noi auth endpoint naively expects that the returnUrl does not contain a query string
          and just appends its '?jwt=<token>', creating a malformed query.
          
          We match those cases and correctly make the query string in the form returnUrl=<returnUrl>&jwt=<token>
          -->
          <rule name="Noi PIK fixup" stopProcessing="true">
            <match url="(.+)" ignoreCase="true" />
            <conditions>
              <add input="{PATH_INFO}" pattern="/Account/AuthenticateNoiPik" matchType="Pattern" ignoreCase="true" />
              <add input="{QUERY_STRING}" pattern="^returnUrl=(.+)\?jwt=(.+)$" matchType="Pattern" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" url="/Account/AuthenticateNoiPik?returnUrl={C:1}&amp;jwt={C:2}" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>
      <staticContent>
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
      <security>
        <requestFiltering>
          <!--25mb-->
          <requestLimits maxAllowedContentLength="26214400" />
        </requestFiltering>
      </security>
      <modules>
        <remove name="FormsAuthentication" />
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      </modules>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="Content-Security-Policy" value="default-src 'self' https://analytics.egov.bg localhost:5101; connect-src 'self' https://analytics.egov.bg localhost:5101; img-src 'self' data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://analytics.egov.bg; style-src 'self' 'unsafe-inline'; font-src 'self'" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="RobotsText" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
    </system.webServer>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ISEOSPostService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="1048576" maxBufferSize="104857600" maxReceivedMessageSize="104857600" />
        </basicHttpBinding>
        <wsHttpBinding>
          <binding name="SSLClientAuth" maxReceivedMessageSize="10000000">
            <security mode="Transport">
              <transport clientCredentialType="Certificate" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:23514/SEOSPostService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISEOSPostService" contract="SeosService.ISEOSPostService" name="BasicHttpBinding_ISEOSPostService" />
      </client>
    </system.serviceModel>
    <elmah>
      <security allowRemoteAccess="0" />
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LoggingDB" applicationName="ElectronicDelivery.WebPortal" />
    </elmah>
    <saml2>
      <allowedAudienceUris>
        <audience uri="https://edelivery-test-v2.egov.bg/metadata/info/saml" />
      </allowedAudienceUris>
      <commonDomainCookie enabled="false">
      </commonDomainCookie>
      <serviceProvider id="urn:edelivery-test.egov.bg" server="https://edelivery-test.egov.bg">
        <signingCertificate findValue="<secret>" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
        <endpoints>
          <endpoint type="SignOn" localPath="/account/login" redirectUrl="~/account/login" />
          <endpoint type="Logout" localPath="/account/logout" redirectUrl="~/account/logout" />
          <endpoint type="Metadata" localPath="/metadata/info/saml" redirectUrl="~/metadata/info/saml" />
        </endpoints>
      </serviceProvider>
      <identityProviders>
        <add name="eAuth 2.0" id="https://eauth-test.egov.bg">
          <endpoints>
            <endpoint type="Metadata" url="https://eauth-test.egov.bg/tfauthbe/saml/metadata/idp" binding="Post" />
          </endpoints>
          <certificateValidations>
            <add type="SAML2.Specification.SelfIssuedCertificateSpecification, SAML2" />
          </certificateValidations>
        </add>
      </identityProviders>
      <metadata lifetime="0.00:15:00">
        <organization name="EDelivery" displayName="EDelivery" url="https://edelivery.egov.bg" />
        <contacts>
          <contact type="Administrative" company="Ciela Norma AD" givenName="Veselin" surName="Petrov" email="<secret>" phone="<secret>" />
        </contacts>
        <requestedAttributes>
          <add name="urn:egov:bg:eauth:2.0:attributes:personIdentifier" isRequired="true" />
          <add name="urn:egov:bg:eauth:2.0:attributes:personName" isRequired="true" />
          <add name="urn:egov:bg:eauth:2.0:attributes:email" isRequired="true" />
          <add name="urn:egov:bg:eauth:2.0:attributes:phone" />
          <add name="urn:egov:bg:eauth:2.0:attributes:dateOfBirth" />
        </requestedAttributes>
      </metadata>
    </saml2>
    <system.codedom>
      <compilers>
        <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </compilers>
    </system.codedom>
    <system.runtime.caching>
      <memoryCache>
        <namedCaches>
          <add name="AuthorizationCache" cacheMemoryLimitMegabytes="128" physicalMemoryLimitPercentage="0" pollingInterval="00:05:00" />
          <add name="UserDataCache" cacheMemoryLimitMegabytes="1024" physicalMemoryLimitPercentage="0" pollingInterval="00:05:00" />
        </namedCaches>
      </memoryCache>
    </system.runtime.caching>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
