<?xml version="1.0"?>
<configuration>
  <location>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- This will handle requests up to 51MB -->
          <requestLimits maxAllowedContentLength="53477376" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
