<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>

      <!-- aspNetCore/@stdoutLogFile will be replaced with SetParams file-->
      <aspNetCore xdt:Transform="SetAttributes(stdoutLogEnabled,stdoutLogFile)" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables xdt:Transform="InsertIfMissing">
          <!-- environmentVariable/@value will be replaced with SetParams file-->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                               value="Development"
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
          <environmentVariable name="ED__EsbApi__SharedSecretDPKey"
                               value=""
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
        </environmentVariables>
      </aspNetCore>

      <!-- add application initialization options -->
      <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="InsertIfMissing">
        <add initializationPage="/" />
      </applicationInitialization>

    </system.webServer>
  </location>
  
</configuration>
