@model StringViewModel

@{
    ViewBag.Title = LoginRegisterPage.LoginWithKep;
}

<div class="content-right">
    <a href="@Url.Action("Index", "Home")" class="btn btn-m btn-clear mtb-spacer">< Назад</a>

    <div class="wrapper content-wrapper message-box message-flex-start">
        <img src="~/Content/img/info-neutral.png">
        <div>
            <h3>@LoginRegisterPage.TitleKepAuthFailed</h3>
            <p>@Html.Raw(Model.Value)</p>
        </div>
    </div>

    <a href="@Url.Action("Index", "Home")" class="btn btn-m btn-clear mtb-spacer">< Назад</a>
</div>
