<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="InfoRollingFileAppender" xdt:Locator="Match(name)">
    <file type="log4net.Util.PatternString" value="%env{SystemDrive}\inetpub\logs\egovtestv2-integration-services\eDeliveryIntegration.log" xdt:Transform="SetAttributes(type,value)" />
  </appender>
  <appender name="ErrorRollingFileAppender" xdt:Locator="Match(name)">
    <file type="log4net.Util.PatternString" value="%env{SystemDrive}\inetpub\logs\egovtestv2-integration-services\eDeliveryIntegration_error.log" xdt:Transform="SetAttributes(type,value)" />
  </appender>
  <root>
    <level value="ALL" xdt:Transform="Replace" />
  </root>
  <logger name="Global" xdt:Locator="Match(name)" xdt:Transform="Remove" />
</log4net>
