<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <appSettings>
      <add key="BlobsServiceUrl" xdt:Locator="Match(key)" value="http://egp38-app1p:5100" xdt:Transform="SetAttributes(value)" />
    </appSettings>
  </location>
</configuration>
