<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <appSettings>
      <add key="DomainServicesUrl" xdt:Locator="Match(key)" value="http://egp38-domain1p:5000" xdt:Transform="SetAttributes(value)" />
      <add key="BlobsServiceUrl" xdt:Locator="Match(key)" value="http://egp38-app1p:5100" xdt:Transform="SetAttributes(value)" />
      <add key="SpecialCertificateThumbprints" xdt:Locator="Match(key)" value="aacf6d00e3c8f8a41b0c55beb4cf2517a21ec2c4" xdt:Transform="SetAttributes(value)" />
    </appSettings>
  </location>
</configuration>
