@using EDelivery.WebPortal.Models.Messages

@model ReadMessageViewModel

<section class="form-section">
    <h3>@ProfilePage.ForwardedMessage</h3>

    @Html.Partial("Partials/_Open", Model)
</section>
