<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <rewrite xdt:Transform="Insert">
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
          </rule>
          <rule name="BlockAdministration" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="172.23.106.14" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="87.120.193.250" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="172.23.106.14" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="213.145.97.52" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="212.122.185.201" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="172.23.101.25" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="93.123.26.7" negate="true" />
              <!-- Десислав Димов -->
              <add input="{REMOTE_ADDR}" pattern="194.54.140.61" negate="true" />
              <!-- Мария Мандева home -->
              <add input="{REMOTE_ADDR}" pattern="192.168.0.105" negate="true" />
              <!-- Фиданка Стамболиева home -->
              <add input="{REMOTE_ADDR}" pattern="192.168.81.7" negate="true" />
              <add input="{REMOTE_ADDR}" pattern="46.10.56.89" negate="true" />
              <!-- Димо Маринов  -->
              <add input="{REMOTE_ADDR}" pattern="88.203.133.186" negate="true" />
              <!-- Мария Мандева -->
              <add input="{REMOTE_ADDR}" pattern="5.53.159.67" negate="true" />
              <!-- Павлинка Бикова -->
              <add input="{REMOTE_ADDR}" pattern="77.85.210.164" negate="true" />
              <!-- Недялка Иванова -->
              <add input="{REMOTE_ADDR}" pattern="91.211.191.126" negate="true" />
              <!-- Силвия Миланова -->
              <add input="{REMOTE_ADDR}" pattern="213.149.140.10" negate="true" />
              <!-- Таня Тодорова -->
              <add input="{REMOTE_ADDR}" pattern="84.40.77.26" negate="true" />
              <!-- Люба Илиева -->
              <add input="{REMOTE_ADDR}" pattern="78.108.245.144" negate="true" />
              <!-- Dobromir Gutev -->
              <add input="{REMOTE_ADDR}" pattern="5.53.145.160" negate="true" />
              <!-- Tania Todorova -->
              <add input="{REMOTE_ADDR}" pattern="84.40.77.26" negate="true" />
              <!-- Ciela VPN & Office -->
              <add input="{REMOTE_ADDR}" pattern="213.145.97.52" negate="true" />
              <!-- Ангел Йорданов home -->
              <add input="{REMOTE_ADDR}" pattern="78.90.164.205" negate="true" />
              <!-- Катерина Неделчева -->
              <add input="{REMOTE_ADDR}" pattern="149.62.205.198" negate="true" />
            </conditions>
            <action type="Redirect" url="/" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>

      <!-- aspNetCore/@stdoutLogFile will be replaced with SetParams file-->
      <aspNetCore xdt:Transform="SetAttributes(stdoutLogEnabled,stdoutLogFile)" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables xdt:Transform="InsertIfMissing">
          <!-- environmentVariable/@value will be replaced with SetParams file-->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                               value="Development"
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
          <environmentVariable name="ED__AdminPanel__SharedSecretDPKey"
                               value=""
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
        </environmentVariables>
      </aspNetCore>

      <!-- add application initialization options -->
      <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="InsertIfMissing">
        <add initializationPage="/" />
      </applicationInitialization>

    </system.webServer>
  </location>
  
</configuration>
