<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <rewrite xdt:Transform="Insert">
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
          </rule>
          <rule name="BlockAdministration" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
            </conditions>
            <action type="Redirect" url="/" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>

      <!-- aspNetCore/@stdoutLogFile will be replaced with SetParams file-->
      <aspNetCore xdt:Transform="SetAttributes(stdoutLogEnabled,stdoutLogFile)" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables xdt:Transform="InsertIfMissing">
          <!-- environmentVariable/@value will be replaced with SetParams file-->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                               value="Development"
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
          <environmentVariable name="ED__AdminPanel__SharedSecretDPKey"
                               value=""
                               xdt:Locator="Match(name)"
                               xdt:Transform="InsertIfMissing" />
        </environmentVariables>
      </aspNetCore>

      <!-- add application initialization options -->
      <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="InsertIfMissing">
        <add initializationPage="/" />
      </applicationInitialization>

    </system.webServer>
  </location>
  
</configuration>
