@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="gradient-decor"></div>

<style>
    p {
        max-width: 1300px;
    }
</style>

<div class="wrapper flex-row mt-spacer">
    <div class="content-wrapper col-4">
        <h3 id="goToTop">Изпращане и получаване на съобщение по шаблон</h3>
        <p>
            В надградената ССЕВ има възможност за създаване на шаблони на съобщения от администратор (компетентни служители на Държавна агенция "Електронно управление"). Във всеки шаблон се фиксират задължителни полета и формат на съдържащата се в тях информация и се определят видове документи, прилагани към шаблона. Администратор задава и права за работа с шаблони, съобразно които определена група потребители получава достъп до съответните шаблони. За изпращане на съобщение по шаблон, потребителят трябва да избере бутон „Вход“, да влезе в профила си и да избере „Изпрати съобщение“, при което се визуализират всички налични за потребителя шаблони.
            <br />
            За изпращане на съобщение от името на юридическо лице/администрация, за което физическото лице е оправомощено, последното трябва да избере бутон „Смяна на профила“ и да избере желания профил. След това се избира меню „Изпрати съобщение“ и съответния шаблон, който потребителят желае да използва. В този случай се визуализират шаблоните, права за достъп до които има съответната администрация.
            <br />
            След избор на шаблон се зарежда формата за изпращане на съобщение, съгласно съответния шаблон. Със звезда (*) се отбелязват задължителните за попълване полета, без които съобщението не може да бъде изпратено.
            <br />
            В случай че шаблонът не отговаря на нуждите на потребителя, той може да избере бутон „Откажи“ и след потвърждаване да се върне на страницата за избор на шаблон.
        </p>

        <h3>Изпращане на съобщение до множество потребители</h3>
        <p>
            Получателят на съобщението се указва чрез бутон „Добави“ в поле получател. Изпращачът може да избере няколко получателя, включително да изпрати съобщение до всички потребители, обособени в целева и/или профилна група. Вече добавените получатели се визуализират след текста „Избрани получатели“ и могат да бъдат премахвани чрез избор на хикса (х) до името/наименованието на получателя. Всички избрани получатели се добавят чрез избор на бутон „Добави“.
        </p>

        <h3>Групи от потребители - глобални и локални</h3>
        <p>
            В надградената ССЕВ има възможност за създаване на два вида групи от профили - глобална и локална. Глобалните групи се създават от администратор (компетентен служител на Държавна агенция "Електронно управление") и могат да се използват от всички потребители на системата за изпращане на съобщение до множество потребители - членове на групата.
            <br />
            В допълнение, всеки потребител на ССЕВ чрез меню "Администриране на профила" може да създава собствена потребителска група, в която да добави лицата, до които най-често изпраща съобщения, чрез бутон „Създай група“ и въвеждане на наименование на групата. След това се визуализира информация за създадената група - наименование, дата на създаване и дата на последна промяна. Потребители се добавят в групата чрез бутон „Добави“ в поле „Членове“. Добавянето се осъществява аналогично на добавяне на получател към съобщение. Списък на участниците в групата се визуализира под бутон „Добави“, като се изписва наименованието на участника и целевата група, към която последният принадлежи. Участник може да се премахне от групата чрез избор на бутона в края на реда.
            <br />
            Чрез бутон „Редактирай“ може да бъде актуализирано наименованието на профилната група, а чрез бутон „Архивирай“ тя може да бъде архивирана, когато отпадне нуждата от нейното използване от потребителя. Създадените профилни групи могат да бъдат използвани за изпращане на съобщение от потребителя до всички участници в групата. Профилните групи се създават локално за всеки профил и са достъпни само за лицето, което има достъп до съответния профил.
        </p>

        <h3>Предоставяне на роли от администратор на профил</h3>
        <p>
            В меню „Конфигурация“ се указват лицата, които имат достъп до профил на юридическо лице/администрация. Това се извършва от полето „Достъп до профила“ чрез бутон „+ Добави физическо лице, имащо достъп до профила“ и въвеждане на данни за физическото лице. При избор на бутон „Добави“ се визуализира прозорец с информация за лицето (имена и ЕГН) и ролите, които могат да бъдат дадени на потребителя. При избор на роля „представител“ се предоставя възможност за указване на права на потребителя за работа с шаблони, достъп до които има съответното юридическо лице/администрация. За всеки шаблон по отделно могат да бъдат предоставяни права за „четене“ (отваряне и преглед на отворено съобщение) и за „писане“ (за изпращане на съобщения на база съответния шаблон). Потребителите, на които е роля „представител с пълни права“ получават пълни права (получаване и изпращане) за работа с всички шаблони, за които профилът има права. По този начин се облекчава администрирането на профила, като се избягва нуждата на определени потребители да се дават права за всеки от шаблоните поотделно. Ролята „администратор“ дава пълни права за администриране на профил, включително добавяне и премахване на потребители с достъп до профила.
        </p>

        <h3>Хранилище</h3>
        <p>
            В меню „Хранилище“, секция „Качени файлове“ всеки потребител може да добавя документи, които предстои да бъдат изпратени като прикачени файлове към съобщение. Документите се добавят чрез бутон „Качи файл“. След добавяне на документа се визуализира информация за неговото наименование, дата и час на добавяне, размер и бутони с възможност за повторно запаметяване на документа локално при потребителя и за премахване на документа от менюто.
            <br />
            След добавяне на документа като прикачен файл към съобщение, документът се визуализира в секция „Изпратени“, като освен наименование на документа, се генерира информация за дата и час на изпращане, размер и наименование на съобщението. В тази секция е възможно единствено повторното запаметяване на документа локално при потребителя, но не и неговото изтриване, тъй като той вече е част от съобщение, достигнало до получателя. След изпращане на документ като прикачен файл, той може да бъде премахнат от секция „Качени файлове“, в случай че няма да участва повторно при изпращане на съобщение с цел оптимизиране и организиране на хранилището на потребителя.
            <br />
            В секция „Получени“ се визуализира информация за получените от потребителя прикачени файлове - тяхното наименование, дата и час на получаване, размер и заглавие на съобщението, към което те са били прикачени, както и възможност за запаметяване на файла локално при потребителя.
            <br />
            Във всяка от секциите в меню „Хранилище“  при избор на линка, съставящ заглавието на документа, последният се запаметява („сваля“) локално при потребителя. При избор на линка, представляващ заглавие на съобщението, се отваря информация за съобщението.
            <br />
            Във всяка от секциите в меню „Хранилище“ за по-лесна ориентация на потребителя е възможно филтриране на наличните документи. Филтрирането е възможно чрез бутон „Филтър на файлове“. Потребителят може да филтрира по един или повече критерии и да потвърди избора си чрез бутон „Търси“. За цялостно изчистване на въведените критерии потребителят може да използва бутон „Изчисти филтрите“.
        </p>

        <a href="/" class="btn btn-m btn-clear mtb-spacer">
            < @UIControls.ButtonBack
        </a>
    </div>
</div>

<a href="#goToTop" class="go-to-top" id="goTop">
    <svg viewBox="0 0 11 7" class="icon arrow-down">
        <path d="M5.5,6.4C5.3,6.4,5,6.3,4.8,6.2L0.3,1.6c-0.4-0.4-0.4-1,0-1.3c0.4-0.4,1-0.4,1.3,0l3.9,3.9l3.9-3.9c0.4-0.4,1-0.4,1.3,0c0.4,0.4,0.4,1,0,1.3L6.2,6.2C6,6.3,5.7,6.4,5.5,6.4z" />
    </svg>
</a>

<script>
    $(function () {
        $(window).scroll(function () {
            if ($(document).scrollTop() > 100) {
                $(".go-to-top").addClass("show");
            } else {
                $(".go-to-top").removeClass("show");
            }
        });
    });
</script>
