<div class="@FieldCssClass">
    <input type="text" id="@id" value="@Value?.ToString(Constants.DateTimeFormat)" @onchange="OnChangeAsync" @attributes="AdditionalAttributes" placeholder="@Placeholder" maxlength="10"/>
    <div class="icon-hint--clear icon-hint--input-text" @onclick="ClearAsync">
    </div>
</div>
