
<a href="@Url.Action("ChangeCulture","Home",new {culture=EDelivery.WebPortal.Enums.eSiteCulture.BG})">
    <span class="culture bg" title="@Common.BGCultureName"></span>
</a>
<a href="@Url.Action("ChangeCulture","Home",new {culture=EDelivery.WebPortal.Enums.eSiteCulture.EN})">
    <span class="culture en" title="@Common.ENCultureName"></span>
</a>